<% if (site.tags.length){ %>
  <div class="widget about">
    <h3 class="title">
      <%= __('about') %>
    </h3>
    <div class="entry">
      <img class="avatar" src="<%- config.root %><%- theme.avatar %>">
      <p class="author">
        <%= config.author %>
      </p>
      <hr>

      <div class="link">
        <% for (var i in theme.menu){ %>
          <span>
              <a href="<%- config.link %><%- theme.link[i] %>">
                <%= i %>
              </a>
            </span>
          <% } %>
      </div>

    </div>
  </div>
  <% } %>